<template>
    <div class="product">
        <product-image :images="images"></product-image>
        <product-options @variantID="getImages($event)" :productTitle="productData.productTitle" :selectableAttributes="selectableAttributes" :productVariants="productVariants" :baremList="baremList" ></product-options>
    </div>
</template>

<script>
    import json from "./../assets/product-data.json";        
    import ProductImage from './ProductImage.vue'
    import ProductOptions from './ProductOptions.vue'
    export default {
        components: {
            productImage: ProductImage,
            productOptions: ProductOptions
        },
        data: function() {
            return {
                productData: json,
                images: [],
                selectableAttributes: [],
                productVariants: [],
                baremList: []
            };
        },
        methods: {
            getImages(id){
                this.images = this.productData.productVariants.find(productVariant => productVariant.id === id).images;
            }
        },
        mounted: function() {
            this.productData.productVariants.forEach(productVariant => this.images = [...this.images, ...productVariant.images]);
            this.selectableAttributes = this.productData.selectableAttributes;
            this.productVariants = this.productData.productVariants;
            this.baremList = this.productData.baremList;
        },
    }
</script>


<style scoped>
    .product{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
</style>