<template>
    <div class="images">
        <div class="active-image">
            <img :src="images[imageIndex]">
        </div>
        <div class="thumbnails">
            <div  class="thumbnails-container">
                <img @click="imageIndex = index" class="thumbnails-image" :class="{'choosed-thumbnails-image': imageIndex === index}" v-for="(image, index) in images" :key="`${index}-image`" :src="image">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                imageIndex: 0,
            };
        },
        props:{
            images : {
                type: [],
                required: true
            }
        },
        watch:{
            images(){
                this.imageIndex = 0;
            }
        }
    }
</script>

<style scoped>
    .images{
        display: block;
    }

    .images .active-image img{
        margin: auto;
        display: block;
    }
    .images .thumbnails {
        max-width: 500px;
        margin: 5px;
        display: flex;
        width: 100%;
    }
    .images .thumbnails .thumbnails-container{
        width: 100%;
    }
    .images .thumbnails .thumbnails-container .thumbnails-image{
        margin: 5px;
        padding: 5px;
        width: 60px;
        height: 60px;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
    }
    .images .thumbnails .thumbnails-container .choosed-thumbnails-image{
        margin: 5px;
        padding: 5px;
        width: 60px;
        height: 60px;
        border: 2px solid #6a6a6a;
        border-radius: 3px;
    }
</style>