<template>
    <div class="product-info">
        <div>
            <span class="product-name"> {{productTitle}} </span>
            <div class="stars">
                <img  v-for="index in 5" :key="index" src="./../assets/star.png">
                <div class="comment">23 Yorum</div>
            </div>
            <div style="margin-top: 40px">
                <span class="unit-price"> {{minPrice}} - {{maxPrice}} TL </span>
                <span class="unit">  / Adet </span>
            </div>
            <div  style="margin-top: 10px">
                <span class="unit"> {{minimumQuantity}} Adet (Minimum Sipariş Adedi) </span>
            </div>
            <div  class="options"  style="margin-top: 20px" v-for="(selectableAttribute,  i) in selectableAttributes" :key="`${i}-selectableAttribute`">
                <div style="margin: auto; width: 100px">
                    {{selectableAttribute.name}}
                </div>
                <div style="margin: auto; font-weight: 600;">:</div>
                <div  class="option-container">
                    <div @click="selecteAttributeValue(selectableAttribute.name, value)" 
                        class="item" 
                        :class="{'item-disabled': (attributeColor === null && i === 1) || (attributeColor !== null && i === 1 && !selectableSizes.includes(value)), 'item-choosed': attributeColor === value || attributeSize === value}" 
                        v-for="(value, j) in selectableAttribute.values" :key="`${j}-value`" >
                        {{value}} 
                    </div>
                </div>
            </div>
            <div class="barem">
                <div class="barem-list">
                    <div style="display: flex; margin-top: auto;margin-bottom: auto; margin-right: 25px">
                        <div style="width:100px;">
                            Toptan Fiyat
                            <br>
                            (Adet)
                        </div>
                        <span style=" font-weight: 600;">:</span>
                    </div>
                    <div class="barem-item" v-for="(barem, i) in baremList" :key="`${i}-barem`">
                        <div style="margin: auto; padding: 10px" :class="{'selected-barem': barem === selectedBarem}">
                            {{barem.minimumQuantity}} - {{barem.maximumQuantity}}
                            <br>
                            {{barem.price}} TL
                        </div>
                        <div v-if="baremList.length -1 !== i" style="height: 50px; width: 2px; background-color: #e0e0e0; margin-left: 15px"></div>
                    </div>
                </div>
                <div class="input-area">
                    <div style="display: flex;">
                        <div style="width:100px; margin-top: auto;margin-bottom: auto;">
                            Adet
                        </div>
                        <span style=" font-weight: 600;margin-top: auto;margin-bottom: auto;  margin-right: 25px">:</span>
                        <input type="input" v-model="numberOfProducts" :disabled="!attributeColor || !attributeSize">
                        <div style=" margin-top: auto;margin-bottom: auto; margin-left:20px">
                            Adet
                        </div>
                    </div>
                    <div class="stock" style="margin-top: auto;margin-bottom: auto;">
                        <span style="color: #63b45c">Stok Adeti: </span>
                        <span style="color: #63b45c; font-weight: 600;">{{maximumQuantity}}</span>
                    </div>
                </div>
            </div>
                
            <div class="price">
                <div style="display: flex;">
                    <div style="width:100px; margin-top: auto;margin-bottom: auto;">
                        <span style="font-weight: 600;font-size: 20px;">Toplam</span>
                    </div>
                    <span style=" font-weight: 600;margin-top: auto;margin-bottom: auto;">:</span>
                    <div style="margin-bottom: auto; margin-left:20px;">
                        <span style="font-weight: 600;font-size: 35px;">{{totalPrice}} TL</span>
                    </div>
                </div>
                <div style="display: flex; margin-left: 130px; margin-top: 10px">
                    <img src="./../assets/cargo.png" width="24" height="24">
                    <div style="margin-top: auto;margin-bottom: auto; margin-left: 10px">
                        <span>Kargo ücreti:</span>
                        <span style="color: #3573c3;font-size: 18px"> Alıcı Öder</span>
                    </div>
                </div>
                <div style="margin-left: 130px; margin-top: 20px">
                    <button class="button" @click="addToBasket()"
                     :class="{'button-disabled': !attributeColor || !attributeSize || !selectedVariant || !selectedBarem}"
                     :disabled="!attributeColor || !attributeSize || !selectedVariant || !selectedBarem">
                        SEPETE EKLE
                     </button>
                    <span style="color: #3573c3; margin-left:20px; font-size: 18px"> Ödeme Seçenekleri</span>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                minimumQuantity: Number.MAX_VALUE,
                maximumQuantity: 0,
                minPrice: Number.MAX_VALUE,
                maxPrice: 0,
                attributeColor: null,
                attributeSize: null,
                selectedVariants: [],
                selectedVariant: null,
                selectableSizes: [],
                numberOfProducts: 0,
                selectedBarem: null,
                totalPrice: 0
            };
        },
        props: {
            productTitle: {
                type: String
            },
            selectableAttributes: {
                type: []
            },
            productVariants: {
                type: []
            },
            baremList: {
                type: []
            }
        },
        methods: {
            selecteAttributeValue(name, value){
                if (name === 'Renk'){
                    this.attributeColor = value;
                    this.attributeSize = null;
                    this.numberOfProducts = 0;
                    this.selectableSizes = [];
                    this.selectedVariants = this.productVariants.filter(variant => variant.attributes.some(attribute => attribute.value === this.attributeColor));
                    this.selectedVariants.forEach(variant => {
                        variant.attributes.forEach(attribute => {
                            if (attribute.name !== name && !this.selectableSizes.includes(value)){
                                this.selectableSizes.push(attribute.value);
                            }
                        });
                    });
                } else if (this.selectableSizes.includes(value)){
                    this.attributeSize = value;
                    this.selectedVariant = this.selectedVariants.find(selectedVariant => selectedVariant.attributes.some(attribute => attribute.value === value));
                    this.$emit('variantID', this.selectedVariant.id);
                }
            },
            toMoneyFormat(price, numberOfProducts){
                return ( price * numberOfProducts).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1.').replace(/\.(\d+)$/,',$1');
            },
            addToBasket(){
                console.log(this.attributeColor);
                console.log(this.attributeSize);
                console.log(JSON.parse(JSON.stringify(this.selectedVariant)));
                console.log(JSON.parse(JSON.stringify(this.selectedBarem)));
                console.log(this.numberOfProducts);
                console.log(this.totalPrice);
            }
        },
        watch: {
            baremList(){
                this.baremList.forEach(barem => {
                    if (barem.minimumQuantity < this.minimumQuantity){
                        this.minimumQuantity = barem.minimumQuantity;
                    }
                    if (barem.maximumQuantity > this.maximumQuantity){
                        this.maximumQuantity = barem.maximumQuantity;
                    }
                    if (barem.price > this.maxPrice){
                        this.maxPrice = barem.price;
                    }
                    if (barem.price < this.minPrice){
                        this.minPrice = barem.price;
                    }
                });
            },
            numberOfProducts(){
                this.selectedBarem = this.baremList.find(barem => barem.minimumQuantity <= this.numberOfProducts && barem.maximumQuantity >= this.numberOfProducts);
                if (this.selectedBarem){
                    this.totalPrice = this.toMoneyFormat(this.selectedBarem.price, this.numberOfProducts);
                } else {
                    this.totalPrice = this.toMoneyFormat(0, 0);
                }
            }
        },
        mounted: function() {
            this.totalPrice = this.toMoneyFormat(0, 0);
        }
    }
</script>

<style scoped>
    .product-info{
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 15px;
    }
    .stars{
        display: flex;
        margin-top: 15px;
    }
    .stars img{
        width: 20px;
        height: 20px;
    }
    .product-name{
        font-size: 35px;
    }
    .unit{
        color: #b2b2b2;
        font-size: 20px;
    }
    .unit-price{
        font-size: 35px;
    }
    .comment{
        margin-top: 2px;
        margin-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #3573c3;
    }
    .options {
        display: flex;
        justify-content: space-between;
    }
    .options .option-container{
        display: flex;
        width: 100%;
    }
    .options .option-container .item{
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
        border: 2px solid #e8e8e8;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
    }
    .options .option-container .item-choosed{
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 2px solid #6a6a6a;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
    }
    .options .option-container .item-disabled{
        cursor: pointer;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #e8e8e8;
        border: 2px dashed  #e8e8e8;
        border-radius: 3px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
    }
    .barem{
        padding: 20px;
        margin-top: 20px;
        background-color: #f5f5f5;
        border-radius: 3px;
    }
    .barem .barem-list{
        display: flex;
        justify-content: space-between;
    }

    .barem .barem-list .barem-item{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .barem .barem-list .barem-item .selected-barem{
        border-radius: 10px;
        background-color: #fdedbf;
    }
    .barem .input-area{
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }
    .barem .input-area input{
        border: 2px solid #c8c8c8;
        border-radius: 3px;
        width: 80px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
    .stock{
        padding: 5px;
        background-color: #fafafa;
        border-radius: 3px;
    }
    .price{
        padding: 20px;
    }
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        font-weight: 500;
        background-color: #f7c042;
    }

    .button-disabled{
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        font-weight: 500;
        background-color: #cccccc;
    }
</style>