<template>
  <product-detail></product-detail>
</template>

<script>
import ProductDetail from './components/ProductDetail.vue'
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  components: {
    productDetail: ProductDetail
  }
}
</script>

<style>

</style>
